body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#characterImageContainer {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

#characterImage {
    max-width: 100%;
    height: auto;
    box-shadow: 3px 3px 5px #bbb;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
